<div class="d-flex justify-content-center">
    <div class="card pb-0 m-3 w-50 diary-card {{diary_name}} ">
        <div class="card-body m-1">
            <a class="card-title diary-name">{{diary_name}}</a>
            <h4 class="card-subtitle mt-2 mb-3 pb-2 border-bottom border-2 diary-sub">Bugs Diaries Nº{{id}}</h4>
            {{#each posts}}
            <p class="card-text post-title">{{title}}</p>
            {{/each}}
        </div>
        <div class="d-flex justify-content-end mb-3 me-2">
            <a href="/diaries/{{id}}" class='btn btn-sm glowing-btn w-20'>
                <span class='glowing-txt'>D<span class='faulty-letter'>E</span>BUG</span>
            </a>
        </div>
    </div>
</div>