{{!-- Post Content --}}
<div class="text-center">
    <img src="https://media1.giphy.com/media/LPr6GX9jSL9nrrTt0M/giphy.gif?cid=ecf05e47r3fvxrp3n4fjoe4czeo732ntvkasimx7trv1bygf&rid=giphy.gif&ct=s"
        class="img-fluid mt-5 pt-4" width="190px" alt="talk nerdy to me gif">
</div>
<div class="d-flex justify-content-center mt-3 pt-3 mb-5">
    <div class="card pb-0 mt-4 width-75">
        <div class="card-body m-1">
            <h3 class="card-title text-center fw-semibold dark-accent">{{post.title}}</h3>
            <h6 class="card-subtitle mt-3 mb-3 pb-2 border-bottom border-2 dark-accent fw-light"> Debugged by:
                <span class="heading-font gradient-text fw-semibold fst-italic fs-5"> {{post.user.username}} </span>
            </h6>
        </div>
        <div class="d-flex justify-content-start mb-3 me-2 ms-4 light-accent">
            <p class="card-text">{{post.content}}</p>
        </div>
        <div class="d-flex justify-content-end mb-3 me-2 ms-4 light-accent">
            <p class="card-text fs-small fw-semibold me-2"> Posted on: <span class="gradient-text"> {{post.date}}</span>
            </p>
        </div>
    </div>
</div>

{{!-- Comments --}}
{{#each comments}}
<div class="align-items-baseline">
    {{>comments-details}}
</div>
{{/each}}

{{!-- Leave a Comment Section --}}
<div class="d-flex justify-content-center border-top border-2 pt-3 mt-5">
    <div class="card p-1 m-4 width-50">
        <div id="comment-card" class="card-body p-4">
            <h4 id="{{post.id}}" class="gradient-text text-center mt-2 mb-4"> Leave a comment! </h4>
            <form id="newcomment" name="newcomment" method="post" action="newcomment">
                <div class="form-outline mb-4">
                    <textarea type="text" id="comment" name="comment" class="form-control form-control-lg"
                        required> </textarea>
                </div>
                <div id="textareaHelpBlock" class="mb-4 ms-1 dark-accent fs-small form-text">
                    <i class="fa fa-bug gradient-text" aria-hidden="true"></i>
                    Please be respectful, we are all learning here!
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" value="newcomment"
                        class="btn p-2 ps-3 pe-3 d-flex justify-content-center flex-nowrap mb-3 mt-3 gradient light-shades">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/comment.js"></script>