{{!-- User's Posts Section --}}
<h2 class="ms-2 pb-2 pt-4 mb-2 mt-5 text-center display-4 heading-font gradient-text"> My Posts
    <i class="fa fa-bug gradient-text" aria-hidden="true"></i>
</h2>
<div class="text-center">
    <img src="https://media2.giphy.com/media/yWnfMrmiqLQuZtFkt8/giphy.gif" class="img-fluid"
        width="170px" alt="code code code gif">
</div>
{{#each posts as |post|}}
<div class="d-flex justify-content-center mt-3 pt-5">
    <div class="card pb-0 mt-4 width-75">
        <div class="d-flex card-body m-1">
            <a id="postA" class="ms-auto" href="/post/{{id}}">
                <h3 id="{{id}}" class="fs-2 card-title text-center fw-semibold dark-accent ms-5 ps-3">
                    {{title}}</h3>
            </a>
            <div class="justify-content-end ms-auto ">
                <button onclick="editPost({{id}})" class="btn gradient-text fs-5 ">
                    <i class="fa fa-pencil ms-1 gradient-text " aria-hidden="true"></i> </button>
                <button onclick="deletePost({{id}})" class="gradient-text btn fs-5"><i
                        class="fa fa-trash gradient-text"></i></button>
            </div>
        </div>
        <div class="d-flex justify-content-start mb-3 me-2 ms-4 light-accent border-top border-2">
            <p class="card-text mt-4 fs-5">{{content}}</p>
        </div>
        <div class="d-flex justify-content-end mb-3 me-2 ms-4 light-accent">
            <p class="card-text fs-small fw-semibold me-2"> Posted on: <span class="gradient-text"> {{date}}</span>
            </p>
        </div>
    </div>
</div>
{{/each}}